.CheckoutProduct {
  display: flex;
  margin: 20px 0;
}

.CheckoutProduct__info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20px;
}

.CheckoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.CheckoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.CheckoutProduct__info > button {
  background: #f0c14b;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  width: fit-content;
}
